/**************
*   Section   *
**************/

section {
    margin: 4% 10%;
}

section h1 {
    font-size: 50px;
    font-weight: bold;
}
section h2 {
    font-size: 35px;
}

section p, label {
    font-size: 18px;
    text-align: justify;
    font-family: Optima, sans-serif;
}

#valid {
    display: none;
    text-align: center;
}

input {
    border: lightgrey solid 1px;
}

.quote {
    text-align: left;
    width: 50%;
    margin: 0 auto;
    background-color: whitesmoke;
}

q {
    font-style: italic;
}

img {
    width: 50%;
}

/* About Page Paragraph */

#about_p {
    font-size: 15px;
    margin: 0 10%;
}