/**************
*   Section   *
**************/

section {
    margin: 4% 10%;
}

section h1 {
    font-size: 50px;
    font-weight: bold;
}
section h2 {
    font-size: 35px;
}

section p {
    font-size: 18px;
    text-align: justify;
    font-family: Optima, sans-serif;
}

img {
    width: 50%;
}

/* About Page Paragraph */

#about_p {
    font-size: 15px;
    margin: 0 10%;
}